<div class="card" style="width: 18rem;">
  <div class="card-header text-white bg-primary">
    Κάτοικος: {{resident.firstname +' '+resident.lastname}}
  </div>
  <div class="card-body">
    <h5 class="card-title">Πληροφορίες</h5>
    <p class="card-text">Τηλέφωνο:
      <span class="text-right font-weight-bold">{{resident.phone }}</span>
    </p>
    <p class="card-text">Email:
      <span class="text-right font-weight-bold">{{resident.email}}</span>
    </p>
    <p class="card-text">Ιδιοκτήτης:
      <span class="text-right font-weight-bold">{{resident.isOwner ? 'Ιδιοκτήτης' : 'Ενοικιαστής'}}</span>
    </p>
  </div>
</div>