<p>
  <a class="btn btn-primary" routerLink="/admin/residences/new">Προσθήκη Οικήματος</a>
</p>
<!-- <p>
    <input type="text" class="form-control" #query (keyup)="filter(query.value)" placeholder="Αναζήτηση.....">
  </p> -->
<data-table [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)">
  <!-- <data-table-column [property]="'code'" [header]="'Κωδικός'" [sortable]="true" [resizable]="true"></data-table-column>
   -->
  <data-table-column [property]="'code'" [header]="'Κωδικός'" [sortable]="true" [resizable]="true">
    <ng-template #dataTableCell let-item="item">
      {{item.code }}
    </ng-template>
  </data-table-column>
  <data-table-column [property]="'$key'">
    <ng-template #dataTableHeader let-item="item">
      <i>Actions</i>
    </ng-template>
    <ng-template #dataTableCell let-item="item">
      <a [routerLink]="['/admin/residences/', item.$key]">Επεξεργασία</a>
    </ng-template>
  </data-table-column>
</data-table>