<div class="row">
  <div class="col-md-6">
    <form #residentForm="ngForm">
      <div class="card">
        <div class="card-header text-white bg-success">Στοιχεία κατοίκου</div>
        <div class="card-body">
          <div class="row">
            <div class="input-group mb-3 offset-md-1 col-md-10">
              <div class="input-group-prepend">
                <span class="input-group-text text-white bg-success" id="basic-addon1">USERNAME</span>
              </div>
              <input readonly [(ngModel)]="resident.name" #name="ngModel" name="ngModel" name="name" id="name" type="text" class="form-control"
                aria-label="name" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="row">
            <div class="input-group mb-3 offset-md-1 col-md-10">
              <div class="input-group-prepend">
                <span class="input-group-text text-white bg-success" id="basic-addon1">EMAIL</span>
              </div>
              <input readonly [(ngModel)]="resident.email" #email="ngModel" email="ngModel" name="email" id="email" type="text" class="form-control"
                aria-label="email" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="row">
            <div class="input-group mb-3 offset-md-1 col-md-10">
              <div class="input-group-prepend">
                <span class="input-group-text text-white bg-success" id="basic-addon1">ΟΝΟΜΑ</span>
              </div>
              <input [(ngModel)]="resident.firstname" firstname="ngModel" name="firstname" id="firstname" type="text" class="form-control"
                aria-label="lastname" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="row">
            <div class="input-group mb-3 offset-md-1 col-md-10">
              <div class="input-group-prepend">
                <span class="input-group-text text-white bg-success" id="basic-addon1">ΕΠΩΝΥΜΟ</span>
              </div>
              <input [(ngModel)]="resident.lastname" lastname="ngModel" name="lastname" id="lastname" type="text" class="form-control"
                aria-label="lastname" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="row">
            <div class="input-group mb-3 offset-md-1 col-md-10">
              <div class="input-group-prepend">
                <span class="input-group-text text-white bg-success" id="basic-addon5">ΤΗΛΕΦΩΝΟ</span>
              </div>
              <input type="text" [(ngModel)]="resident.phone" name="phone" id="phone" class="form-control" aria-label="phone" aria-describedby="basic-addon5">
            </div>
          </div>
          <div class="row" *ngIf="!appUser.isManager else managerArea">
            <div class="input-group mb-3 offset-md-2 col-md-10 custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="resident.isOwner" name="isOwner" id="isOwner">
              <label class="custom-control-label" for="isOwner">Ιδιοκτήτης</label>
            </div>
          </div>
          <ng-template #managerArea>
            <div class="row">
              <div class="input-group mb-3 offset-md-2 col-md-10 custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" [(ngModel)]="resident.isManager" name="isManager" id="isManager">
                <label class="custom-control-label" for="isManager">Διαχειριστής</label>
              </div>
            </div>
            <div class="row">
                <div class="input-group mb-3 offset-md-2 col-md-10 custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" [(ngModel)]="resident.isResident" name="isResident" id="isResident">
                  <label class="custom-control-label" for="isResident">Διαμένει</label>
                </div>
              </div>
            <div class="row">
              <div class="input-group mb-3 offset-md-2 col-md-10 custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" [(ngModel)]="resident.isPaying" name="isPaying" id="isPaying">
                <label class="custom-control-label" for="isPaying">Πληρώνει</label>
              </div>
            </div>
          </ng-template>
          <!-- <div class="row">
            <div class="input-group mb-3 offset-md-1 col-md-10">
              <div class="input-group-prepend">
                <span [ngClass]="{'error-required':isActive.touched && isActive.invalid}" class="input-group-text text-white bg-success"
                  id="basic-addon2">ΔΕΗ</span>
              </div>
              <input type="number" required [(ngModel)]="resident.isActive" #isActive="ngModel" isActive="ngModel" name="isActive" id="isActive"
                class="form-control" [placeholder]="(isActive.touched && isActive.invalid) ? 'Required' : 'isActive'" aria-label="isActive"
                aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text">€</span>
              </div>
              <div class="alert alert-danger" *ngIf="isActive.touched && isActive.invalid">
                <div *ngIf="isActive.errors.required">Υποχρεωτικό πεδίο</div>
                <div *ngIf="isActive.errors.min">Το ποσοστό πρέπει να είναι μεγαλύτερο από 0%.</div>
                <div *ngIf="isActive.errors.max">Το ποσοστό πρέπει να είναι μικρότερο από 100%.</div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <resident-card [resident]="resident"></resident-card>
    <div>
      <button class="btn btn-primary btn-lg" [disabled]="residentForm.invalid" (click)="save(residentForm.value)">Αποθήκευση</button>
      <button type="button" class="btn btn-danger btn-lg" (click)="delete()">&nbsp;&nbsp;Διαγραφή&nbsp;</button>
      <button type="button" class="btn btn-danger btn-lg" (click)="deleteUserHouseFees(resident.$key)">&nbsp;&nbsp;FeesDelete&nbsp;</button>
    </div>
  </div>
</div>