<div *ngIf="fee.year && fee.month" class="card" style="width: 18rem;">
  <div class="card-header text-white bg-primary">
    Κοινόχρηστα {{fee.month}} / {{fee.year}}
  </div>
  <div class="card-body">
    <h5 class="card-title">Ανάλυση Κοινοχρήστων</h5>
    <p class="card-text">Βόθρος:
      <span class="text-right font-weight-bold">{{fee.sewage }}</span>
    </p>
    <p class="card-text">Πισίνα:
      <span class="text-right font-weight-bold">{{fee.pool}}</span>
    </p>
    <p class="card-text">Κήπος:
      <span class="text-right font-weight-bold">{{fee.garden}}</span>
    </p>
    <p class="card-text">ΕΥΔΑΠ:
      <span class="text-right font-weight-bold">{{fee.water}}</span>
    </p>
    <p class="card-text">ΔΕΗ:
      <span class="text-right font-weight-bold">{{fee.electric}}</span>
    </p>
  </div>
  <div class="total text-right">
    Total: {{fee.total}}
  </div>
  <!-- <div *ngIf="showReport" class="card-footer text-white bg-info text-right"> -->
  <div class="card-footer text-white bg-link" *ngIf="!appUser">
      <a class="btn btn-info btn-block text-right" routerLink="/login">Συνδεσου να δεις τα κοινόχρηστά....</a>
  </div>
  <div class="card-footer text-white bg-link" *ngIf="appUser">
      <a class="btn btn-warning btn-block text-right" *ngIf="!fee.hasReported" href="#">Δεν έχουν εκδοθεί ακόμα....</a>
      <!-- <button class="btn btn-warning btn-block text-right" (click)="addFeeToHouseFees(fee)" *ngIf="!fee.hasReported">Bγάλε μου τα κοινόχρηστά....</button> -->
      <a class="btn btn-info btn-block text-right" *ngIf="fee.hasReported" [routerLink]="['/all-house-fees/', appUser.$key]">Δείξε μου τα κοινόχρηστά....</a>
    </div>
</div>