<div class="card" style="width: 18rem;">
    <div class="card-header text-white bg-primary">
      Οίκημα: {{residence.code}}
    </div>
    <div class="card-body">
      <h5 class="card-title">Ανάλυση Ποσοστών</h5>
      <p class="card-text">Βόθρος:
        <span class="text-right font-weight-bold">{{residence.sewage }} %</span>
      </p>
      <p class="card-text">Πισίνα:
        <span class="text-right font-weight-bold">{{residence.pool}} %</span>
      </p>
      <p class="card-text">Κήπος:
        <span class="text-right font-weight-bold">{{residence.garden}} %</span>
      </p>
      <p class="card-text">ΕΥΔΑΠ:
        <span class="text-right font-weight-bold">{{residence.water}} %</span>
      </p>
      <p class="card-text">ΔΕΗ:
        <span class="text-right font-weight-bold">{{residence.electric}} %</span>
      </p>
    </div>
    <div class="card-footer text-white bg-secondary text-right">ΧΡΕΟΣ: {{residence.debt}}</div>
  </div>