<p>
  <input type="text" class="form-control" #query (keyup)="filter(query.value)" placeholder="Αναζήτηση.....">
</p>
<data-table [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)">
  <data-table-column [property]="'year'" [header]="'Year'" [sortable]="true" [resizable]="true">
    <ng-template #dataTableCell let-item="item">
      {{item.year}}
    </ng-template>
  </data-table-column>
  <data-table-column [property]="'month'" [header]="'Month'" [sortable]="true" [resizable]="true">
    <ng-template #dataTableCell let-item="item">
      {{item.month}}
    </ng-template>
  </data-table-column>
  <data-table-column [property]="'total'" [header]="'Total'" [sortable]="true" [resizable]="true">
    <ng-template #dataTableCell let-item="item">
      {{item.total | currency :'EUR': true}}
    </ng-template>
  </data-table-column>
  <data-table-column [property]="'$key'">
    <ng-template #dataTableHeader let-item="item">
      <i>Actions</i>
    </ng-template>
    <ng-template #dataTableCell let-item="item">
      <a [routerLink]="['/house-fees-report/', item.$key]"><span class="fa fa-info text-info text-center"></span></a>
    </ng-template>
  </data-table-column>
  <data-table-column [property]="'$key'">
    <ng-template #dataTableHeader let-item="item">
      Έκδοση
    </ng-template>
    <ng-template #dataTableCell let-item="item">
      <button class="btn btn-link" (click)="doFeesReports(item.$key)">
        <span class="fa fa-check text-info" *ngIf="!item.hasReported"></span>
        <span class="fa fa-check text-warning" *ngIf="item.hasReported"></span>
      </button>
    </ng-template>
  </data-table-column>
</data-table>